head{text-align: left;margin-left: 30%;margin-right: 30%;margin-top: 5%;margin-bottom: 2%;font-family:'Times New Roman';color: #444}
h1{text-align: left;margin-top: 5%;-family:'Times New Roman';color: #444;font-size : "24";}
body{text-align: left;margin-left: 30%;margin-right: 30%;margin-top: 2%;margin-bottom: 2%;font-family: 'Times New Roman';color:#444}